@using StorageManagementApp.Contracts.Enums;
@model IEnumerable<StorageManagementApp.Contracts.DTOs.Product.ProductViewDto>
@{
    ViewData["Title"] = "Search Products";
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";
}

@Html.ActionLink("Add product", "Create", "Product")
    <script>
        function setFilters() {

            var code = document.getElementById("codeInput").value;
            var name = document.getElementById("nameInput").value;
            var category = document.getElementById("dropdown").value;
            var data = {
                code: code,
                name: name,
                category: category
            }

            $.ajax({
                type: "POST",
                url: "/Product/Search",
                data: data,
                success: function (response) {
                    console.log(response);
                    $("#table tbody tr").remove();
                    for (var i = 0; i < response.length; i++) {
                        var row = "<tr>";
                        row += "<td>" + response[i].description + "</td>";
                        row += "<td>" + response[i].name + "</td>";
                        row += "<td>" + response[i].purchasePrice + "</td>";
                        row += "<td>" + response[i].retailPrice + "</td>";
                        row += "<td>" + response[i].code + "</td>";
                        row += "<td>" + response[i].inStock + "</td>";
                        row += "<td>" + response[i].categoryName + "</td>";
                        row += "<td>" + response[i].imagePath + "</td>";
                        row += "</tr>";
                        $("#table tbody").append(row);
                    }
                }
            })
        }
    </script>

<div class="form-group">
    <label>Select category</label>
    <select id="dropdown" asp-items="Html.GetEnumSelectList<CategoryEnum>()"></select>
</div>

<input type="text" id="nameInput" placeholder="Name" />
<input type="text" id="codeInput" placeholder="Code" />
<button onclick="setFilters()"> Search</button>

<table id="table" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayName("Purchase price")
            </th>
            <th>
                @Html.DisplayName("Retail price")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayName("In stock")
            </th>
            <th>
                @Html.DisplayName("Category")
            </th>
            <th>
                @Html.DisplayName("Image")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PurchasePrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RetailPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InStock)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImagePath)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-controller="Product" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="ShowConfirmDialog" asp-controller="User" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td>
                    @Html.Label("No data!")
                </td>
            </tr>
        }
    </tbody>
</table>
